<!DOCTYPE html>
<html>
<head>
<title>Home da Pagina</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Arpia Tecnologia</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="categoria.html">Categoria</a></li>
				<li><a href="produto.html">Produto</a></li>
			</ul>
		</div>
	</nav>
	<br />
	<br />
	<br />
	<h1>
		<center>Sistema de Cadastro</center>
	</h1>
</body>

</html>



